/build/
/dist/
/truffleHog.egg-info/
**/__pycache__/
**/*.pyc

# Intellij
/.idea/

# Python virtualenv
/venv*/

# Tox
/.pip_cache/
/.tox/
/gd_truffleHog.egg-info/
/reports/
/html-reports/
/.mypy_cache/
