/build/
/dist/
**/__pycache__/
**/*.pyc

# Intellij
/.idea/
**/*.iml

# Python virtualenv
/venv*/

# Tox
/.mypy_cache/
/.pip_cache/
/.pytest_cache/
/.tox/
/*.egg-info/
/html-reports/
/reports/
.coverage
