/build/
/dist/
**/__pycache__/
**/*.pyc

# Intellij
/.idea/

# Python virtualenv
/venv*/

# Tox
/.mypy_cache/
/.pip_cache/
/.pytest_cache/
/.tox/
/gd_truffleHog.egg-info/
/html-reports/
/reports/
/truffleHog.egg-info/
