repos:
- repo: local
  hooks:
  - id: tartufo
    name: tartufo
    entry: tartufo
    args: [--pre-commit, --cleanup]
    language: python
    pass_filenames: false
  - id: pylint
    name: pylint
    entry: pylint
    language: system
    types: [python]
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v0.730
  hooks:
  - id: mypy
- repo: https://github.com/psf/black
  rev: stable
  hooks:
    - id: black
      language_version: python3.7
