name: ci

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  tox:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8, 3.9, pypy3]
        exclude:
          # https://github.com/tox-dev/tox/issues/1704
          - os: windows-latest
            python-version: pypy3
        include:
          - os: ubuntu-latest
            path: ~/.cache/pypoetry
          - os: windows-latest
            path: ~\AppData\Local\pypoetry\Cache
          - os: macos-latest
            path: ~/Library/Caches/pypoetry
    runs-on: ${{ matrix.os }}
    env:
      PYTHON: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
    - uses: actions/cache@c64c572235d810460d0d6876e9c705ad5002b353
      name: Cache Poetry & Tox deps
      with:
        path: |
          {{ matrix.path }}
          .tox
        key: ${{ matrix.os }}-venvs-${{ matrix.python-version }}-${{ hashFiles('**/poetry.lock') }}
        restore-keys: |
          ${{ matrix.os }}-venvs-${{ matrix.python-version }}
          ${{ matrix.os }}-venvs
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@3105fb18c05ddd93efea5f9e0bef7a03a6e9e7df
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Enchant
      run: brew install enchant
      if: ${{ matrix.os == 'macos-latest' && matrix.python-version == '3.7' }}
    - name: Install dependencies
      run:  pip install poetry tox tox-gh-actions
      # run:  pip install poetry tox codecov tox-gh-actions
    - name: Run tox environments
      run: tox
    # - name: Upload coverage to Codecov
    #   uses: codecov/codecov-action@e156083f13aff6830c92fc5faa23505779fbf649
    #   with:
    #     file: coverage.xml
    #     env_vars: OS,PYTHON
