name: ci

on:
  push:
    branches: [ main, v3.x ]
  pull_request:
    branches: [ main, v3.x ]

jobs:
  unit-test:
    name: Unit Tests
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]
        include:
          - os: ubuntu-latest
            path: ~/.cache/pypoetry
          - os: windows-latest
            path: ~\AppData\Local\pypoetry\Cache
          - os: macos-latest
            path: ~/Library/Caches/pypoetry
    runs-on: ${{ matrix.os }}
    env:
      PYTHON: ${{ matrix.python-version }}
      OS: ${{ matrix.os }}
    steps:
    - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      name: Checkout the repo
    - uses: actions/cache@c64c572235d810460d0d6876e9c705ad5002b353
      name: Cache Poetry & Tox deps
      if: ${{ !(matrix.os == 'windows-latest' && matrix.python-version == '3.6') }}
      with:
        path: |
          {{ matrix.path }}
          .tox
        key: ${{ matrix.os }}-venvs-${{ matrix.python-version }}-${{ hashFiles('**/poetry.lock') }}
        restore-keys: |
          ${{ matrix.os }}-venvs-${{ matrix.python-version }}
          ${{ matrix.os }}-venvs
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@dc73133d4da04e56a135ae2246682783cc7c7cb6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install Enchant
      run: brew install enchant
      if: ${{ matrix.os == 'macos-latest' && matrix.python-version == '3.7' }}
    - name: Install dependencies
      run: |
        pip install -U pip
        pip install poetry tox tox-gh-actions
      # run:  pip install poetry tox codecov tox-gh-actions
    - name: Unit test in Python ${{ matrix.python-version }} on ${{ matrix.os }}
      run: tox -vv
    # - name: Upload coverage to Codecov
    #   uses: codecov/codecov-action@e156083f13aff6830c92fc5faa23505779fbf649
    #   with:
    #     file: coverage.xml
    #     env_vars: OS,PYTHON
  linting:
    name: Linting
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        toxenv: [pylint, vulture, mypy, black, docs]
    steps:
    - uses: actions/checkout@5a4ac9002d0be2fb38bd78e4b4dbde5606d7042f
      name: Checkout the repo
    - uses: actions/cache@c64c572235d810460d0d6876e9c705ad5002b353
      name: Cache Poetry & Tox deps
      with:
        path: |
          ~/.cache/pypoetry
          .tox
        key: venvs-${{ matrix.toxenv }}-${{ hashFiles('**/poetry.lock') }}
        restore-keys: |
          venvs-${{ matrix.toxenv }}-
    - name: Set up Python
      uses: actions/setup-python@dc73133d4da04e56a135ae2246682783cc7c7cb6
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        pip install -U pip
        pip install poetry tox
    - name: Run ${{ matrix.toxenv }}
      run: |
        tox -vv -e ${{ matrix.toxenv }}
  docker:
    name: Build Docker Image
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@94ab11c41e45d028884a99163086648e898eed25
        with:
          install: true
      - name: Build
        run: |
          docker build .
