name: publish

on:
  release:
    types: [published] # Trigger when release is created

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f
    - name: Set up Python 3.7
      uses: actions/setup-python@dec86ecf4e7508d3930ae42abcdc575f35ea490d
      with:
        python-version: 3.7
    - name: Install dependencies
      run:  |
        pip install --upgrade pip
        pip install --upgrade poetry
    - name: Package and publish with Poetry
      run: |
        poetry config pypi-token.pypi $PYPI_TOKEN
        poetry publish --build
      env:
        PYPI_TOKEN: ${{ secrets.PYPI_TOKEN }}
    - name: Publish to Docker Hub
      run: |
        ./scripts/build_and_publish_docker.sh
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
